@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

.main-page{
    display: flex;
}

.leftbar{
    width: 5.3rem;
    height: 100vh;
    position: fixed;
}

aside{
    width: 100%;
    height: 100%;
    padding-left: 0.7rem;
    border: 1px solid #E1E1E1;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.logo{
    padding: 2.1rem 0;
    width: 100%;
    text-align: center;
}

.logo img{
    width: 55%;
}

aside .profile{
    width: 100%;
    padding: 0 0 1rem 0;
    text-align: center;
}

.profile > a > img{
    width: 50%;
    border-radius: 50%;
}

svg{
    color: black;
    transition: all 0.2s;
}

svg:hover{
    color: grey;
}

nav{

}

ul{
    list-style: none;
}

ul > div {
    border-top: black 1px solid;
    padding: 0 0 2.2rem 0;
}

nav li{
    padding: 0 0 2.1rem 0;
}

.major-y{
    width: 70%;
    border-right: 1px #E1E1E1 solid;
    margin-left: 6rem;
}

section{

}

.card{
    width: 692px;
    display: flex;
    margin: auto;
    flex-direction: column;
    
    border-bottom: 1px #E1E1E1 solid;
    padding: 2rem 0;
}

.card .upper{
    width: 100%;
    display: flex;
    padding: 0 0 0.7rem 0;
}

.upper .profile{
    width: 3rem;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card .text{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.card h1{
    padding: 0 0 0.7rem 0;
}

.content img{
    max-height: 112px;
}

.filter{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    max-width: 692px;
    margin: auto;
}

.filter a{
    text-decoration: none;
    color: #acabab;
    transition: 0.2s all;
}

.filter a:hover{
    color: black;
}

.filter ul{
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.filter li{
    padding-right: 1.7rem;
}

.rightbar{
    max-width: 20.5rem;
    margin: 2.5rem auto 0 auto;
}

.rightbar input{
    font-weight: 500;
    padding: 0.5rem 1rem 0.5rem 0;
    border: none;
}

input[type=text]:focus {
    border: none;
    outline: none;
}

.textbox{
    display: flex;
    align-items: center;
    border: #E1E1E1 solid 1px;
    border-radius: 2rem;
    padding: 0 0.5rem;
}

#searchicon{
    margin-right: 0.5rem;
}

.btn{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    background: #000;
    margin-bottom: 2rem;
    display: block;
    text-align: center;
    border-radius: 2rem;
    font-weight: 600;
}


@media screen and (max-width: 1150px) {
   .rightbar{
    visibility: hidden;
   }

   .major-y{
    width: 100%;
   }
}