:root{
    --primary-color: rgba(29, 161, 242);
    --trends-color: #2C3640;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #15202B;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

.general .header{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

li a{
    display: block;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem 0;
    text-align: start;
    font-size: 1.3rem;
}

li i{
    margin-right: 1rem;
}

.btn{
    border-radius: 2rem;
    transition: all 0.2s;
}

.btn-tweet{
    background: var(--primary-color);
    text-align: center;
}

.btn.btn-tweet:hover{
    background: rgba(29, 161, 220);
}

.btn:hover{
    background: var(--trends-color);
}

.nav{
    margin-top: 1rem;
}

.logo
{
    width: 2rem;
    margin-left: 1.3rem;
}

.logo > img{
    width: 100%;
}

.general{
    display: flex;
    justify-content: center;
}

.showcase{
    border: 0.001rem solid rgba(39, 80, 80);
    border-top: none;
    width: 35rem;
    margin-right: 2rem;
}

.showcase .head{
    padding: 1.5rem 0;
    color: #fff;
    font-size: 1.3rem;
}

.content{
    display: flex;
    flex-direction: column;   
    padding: 1.4rem;
    color: #fff;
}

.content .profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.profile .pp{
    width: 9%;
}

.profile p{
    margin-bottom: 1rem;
}

.profile .pp img{
    border-radius: 50%;
    width: 100%;
}

.profile .container{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.tweet-img img{
    width: 100%;
}

aside{
    width: 20%;
}

aside h1{
    padding: 1rem 0 0.5rem 1rem;
}

aside .container{
    margin-bottom: 3rem;
    color: #fff;
    background: #1E2732;
    height: fit-content;
    border-radius: 0.7rem;
}

aside .trends{
    display: flex;
    flex-direction: column;
}

.trends .trend{
    padding: 0.5rem 1rem;
    display: block;
    transition: all 0.3s;
}

.trends .trend:hover{
    background: #252E38;
}

.trend p{
    font-size: 0.75rem;
    color: #CFD2CF;
    padding: 0.3rem 0;
}

aside input{
    border-radius: 2rem;
    width: 100%;
    padding: 1rem;
    font-weight: 1.2;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
    background: #273340;
    border: none;
}

aside input:focus{
    outline: var(--primary-color) 2px solid;
}